#map {
  height: 80%;
}

body {
  background: white;
}

body, h1, h2, h3, p {
  color: white;
}

p#map-caption {
  margin: 10px 25px;
  font-size: 1.25rem;
  line-height: 1.5;
}

#footer a, #footer a:visited, p#map-caption a, p#map-caption a:visited {
  color: black;
}

p#map-caption a:hover, #footer a:hover {
  text-decoration: underline;
}

#footer {
  font-size: .8em;
  text-align: right;
}

.row, #footer {
  background: #EE4E01;
}

.article-summary {
  padding-bottom: 10px;
  border-bottom: 10px solid white;
}

.article-splash {
  width: 100%;
  margin-bottom: 15px;
}

.article-summary a {
  color: white;
}

.article-more-link {
  float: right;
  margin-top: -17px;
  margin-bottom: 6px;
  font-size: .8em;
}

#header {
  width: 100%;
  background-color: #333;
}

#footer {
  width: 100%;
}

#header .row {
  background: none;
}

#timeline {
  background-color: rgba( 55, 55, 55, 0.5);
  width: 420px;
  height: 200px;
  z-index: 1;
  position: absolute;
  right: 0;
  padding-left: 10px;
}


