---
---

/**
 * Site layout and colors
 */

@import 'bower_components/foundation/scss/normalize';
@import 'bower_components/foundation/scss/foundation';
@import 'bower_components/font-awesome/scss/font-awesome';

html, body, .row.comments {
  background: #6FA8CD;
  font-size: 1.0rem;
}

.row, #footer {
  background: #ff6633;
}

body, h1, h2, h3, p, .article-summary a, .article-summary a:hover, .article-summary a:visited {
  color: #efefef;
}

a, a:hover, a:visited {
  color: #333;
}

#header {
  width: 100%;
  background-color: #333;
  & .row {
    background: none;
  }
}

#footer {
  font-size: .8rem;
  text-align: right;
  width: 100%;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

@media only screen and (min-width: 1000px) {
  #footer {
    margin-top: 1rem;
  }
}

code {
  background-color: rgba(240, 240, 240, 0.4);
  border-color: rgba(200, 200, 200, 0.4);
}

.author {
  text-decoration: underline;
}

/**
 * generic blog styles
 */

.article-summary {
  padding-bottom: .66rem;
  margin-bottom: .66rem;
}

.article-heading {
  margin-bottom: 1rem;
}

.article-summary:last-child {
  margin-bottom: 0;
}

.article-splash {
  width: 100%;
  margin-bottom: 1rem;
}

.article-summary .article-splash {
  margin-bottom: 0;
}

.article-social-links {
  margin-top: 1rem;
  .twitter-container {
    float: left;
    margin-top: 0.2rem;
  }

  .facebook-container {
    float: left;
    margin-left: 1rem;
  }
}

.article-summary-footer {
  .article-more-link {
    float: right;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}

.article-caption {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  padding: 0.2rem .6rem;
  margin-bottom: 1rem;
}

.fullscreen-article-image {
  width: 100%;
}

/**
 * heatmap styles
 */

.fullscreen {
  width: 100%;
  min-height: 100%;
}

#map {
  height: 400px;
}

#timeline {
  background-color: rgba( 55, 55, 55, 0.5);
  width: 420px;
  height: 200px;
  z-index: 1;
  position: absolute;
  right: 0;
  padding-left: .66rem;
}

