<div class='article-social-links'>
  <a href="https://twitter.com/intent/tweet?via=collidela&url=http://collision.jackpine.me{{site.baseurl}}{{article.url}}&text={{article.title}}&"
     target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://collision.jackpine.me{{site.baseurl}}{{article.url}}"
     target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  <!--
  <a href="mailto:?&subject=my subject&body=my%20descriptoin">Send Email</a>
  -->
</div>
