#map {
  height: 80%;
}

body {
  background: #EE4E01;
  color: white;
}

p#map-caption {
  margin: 10px 25px;
  font-size: 1.25rem;
  line-height: 1.5;
}

p#map-caption a, p#map-caption a:visited {
  color: black;
}

p#map-caption a:hover {
  text-decoration: underline;
}

p.attribution {
  margin: 10px 25px;
}

#footer {
  font-size: .8em;
  text-align: right;
  position: relative;
  top: 20px;
  right: 5px;
  width: 100%;
}


