---
layout: default
section: blog
---

<div class='row'>
  {% if page.splash %}
    {% if page.splash contains 'http' %}
      {% capture url %}{{page.splash}}{% endcapture %}
    {% else %}
      {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
    {% endif %}

    <img class='article-splash' src='{{url}}' alt='' />
  {% endif %}

  <div class='listing six columns'>
    <div class='heading'>
      <h1>{{page.title}}</h1><span class='date'>{{page.date | date:"%b %d"}}</span>
    </div>

    <div class='prose'>
      {{content}}
    </div>
  </div>
</div>
