---
layout: default
section: blog
---

<div class='row'>
  {% if page.splash %}
    {% if page.splash contains 'http' %}
      {% capture url %}{{page.splash}}{% endcapture %}
    {% else %}
      {% capture url %}{{site.baseurl}}{{page.splash}}{% endcapture %}
    {% endif %}

    <img class='article-splash' src='{{url}}' alt='' />
  {% endif %}

  <div class='listing six columns'>
    <div class='article-heading'>
      <h1>{{page.title}}</h1>
      <span class='article-date'>{{page.date | date:"%b %d"}}</span>

      <div style="margin-top: -.5rem;" class='article-social-links'>
        <div class="twitter-container">
          <a href="https://twitter.com/share"
            class="twitter-share-button"
            data-text="{{item.title}}"
            data-url="http://collision.jackpine.me{{site.baseurl}}{{page.url}}"
            data-via="collidela"
            data-count="none">
          </a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>


        <div class="facebook-container">
          <div class="fb-share-button" data-href="https://collision.jackpine.me{{site.baseurl}}{{page.url}}" data-layout="button"></div>
          <div id="fb-root"></div>
          <script>
  (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
          </script>
        </div>
      </div>
    </div>

    <br style="clear: both; />
    <div class='prose'>
      {{content}}
    </div>
  </div>
</div>

{% include comments.html %}
