---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog.rss' />
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <title>Collision LA{% if page.url != '/' %} | {{page.title}}{% endif %}</title>

  <link href='/site.css' rel='stylesheet' />
  <script src='/node_modules/jquery/dist/jquery.min.js'></script>
  <script src="/js/vendor/lodash.custom.min.js"></script>
</head>
<body>
  <div id='header'>
    <nav class="row top-bar foundation-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href='/'>Studies in mobility safety.</a></h1>
        </li>
      </ul>
    </nav>
  </div>

  <div class='content'>
  {{content}}
  </div>

  <div id='footer'>
    <div class='row'>
      <div class='twelve columns'>
        <span class='author'>
          project by <a href="http://twitter.com/rachelfinf">rachel</a> and <a href="http://twitter.com/ikawe">michael</a>
        </span>
      </div>
    </div>
  </div>
  <script src='/node_modules/foundation/js/foundation/foundation.js'></script>
  <script src='/js/analytics.js'></script>
</body>
</html>
